.contents {
    position: relative;
}

.cont1 {
    background-color: azure;
    background-image: url(image/ARC_Website_Content_Reading.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 100px 50px;
    position: relative;
}

.main-search {
    display: none;
}

.cont1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.272);
}

.cont1 h1 {
    font-size: 60px;
    color: #fff;
    font-weight: 600;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.cont1 h4 {
    padding: 10px;
    font-size: 15px;
    font-style: italic;
    color: white;
    margin-bottom: 50px;
}

.cont2 {
    background-color: #425a72;
    text-align: center;
    padding: 20px;
    margin-top: -100px;
    width: 55%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 10px
}

.cont2 img {
    width: 800px;
    max-width: 100%;
    height: auto;
    max-height: 500px;
    border-radius: 7px;
    padding-bottom: 20px;
}

.cont2 h2 {
    text-align: left;
    padding: 10px 10px 10px 0;
    font-size: 25px;
    padding-bottom: 20px;
}

.cont2 p {
    font-size: 17px;
    text-align: left;
    line-height: 1.5;
    color: #e0e0e0;
    padding-bottom: 20px;
}

.cont2 a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.cont2 a:hover {
    color: blue;
    text-shadow: 0 2px 3px rgb(248, 248, 248);
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #2C3E50;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.post-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    padding: 0 10px;
}

.post-box {
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(174, 172, 172);
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s;
    position: relative;
}

.post-box:hover {
    transform: translateY(-5px);
}

.post-title {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
    font-size: 27px;
    padding-left: 17px;
}

.post-title:hover {
    color:rgb(49, 82, 115);
}

.post-details {
    padding: 5px 20px 20px 20px;
    color: #555;
    line-height: 1.5;
    margin-top: 10px;
}

.post-date {
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-size: 12px;
    color: #888;
    font-style: italic;
    padding-top: 30px;
}

.post-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 15px;
}

.art-posts-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding: 0 80px;
}

.art-post {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(174, 172, 172);
    border: none;
    padding: 15px;
    position: relative;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
    flex-direction: row;
}

.art-post:hover {
    transform: translateX(10px);
}

.art-post-image {
    width: 150px;
    height: 100px;
    overflow: hidden;
    border-radius: 8px;
    flex-shrink: 0;
}

.art-post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.art-post-content {
    flex: 1;
}

.art-post-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px;
    color: #2C3E50;
}

.art-post-details {
    color: #555;
    margin-bottom: 20px;
}

.art-post-date {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 12px;
    color: #888;
    font-style: italic;
}

a.post-box, a.art-post {
    text-decoration: none;
    color: inherit;
    display: flex;
    height: 100%;
}

a.art-post {
    flex-direction: row;
    align-items: flex-start;
}

.author {
    margin-top: auto;
    padding-top: 15px;
    border-top: 1px solid #eee;
    font-size: 13px;
    margin-bottom: 30px;
    margin-left: 16px;
}

.author span{
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-size: 12px;
    color: #888;
    font-style: italic;
    padding-top: 30px; 
    margin-top: 20px;
}

.art-author {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    font-size: 13px;
    padding-top: 40px;
    position: relative;
}

.art-author strong {
    font-size: 13px;
    color: #333;
    align-self: flex-end; 
}

.art-author span {
    font-size: 12px;
    color: #888;
    font-style: italic;
    align-self: flex-end; 
}


@media screen and (max-width: 900px) {
    .main-search {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        align-items: center;
    }
    .main-search .image {
        width: 20px;
        position: absolute;
        left: 95px;
    }
    .main-search .search {
        width: 90%;
        padding: 10px 15px 10px 35px;
        border: none;
        font-size: 14px;
        border-radius: 20px;
    }
    .cont1 h1 {
        font-size: 50px;
    }
    .cont1 h4 {
        font-size: 15px;
    }
    .cont2 {
        width: 55%;
    }
    .cont2 img {
        width: 100%;
        max-width: 600px;
        height: 180px;
    }
    .cont2 a {
        font-size: 16px;
    }
    .title {
        font-size: 25px;
    }
    .post-container {
        gap: 14px;
        padding: 0 20px;
    }
    .post-box {
        width: 250px;
    }
    .post-title {
        font-size: 22px;
    }
    .post-details,
    .art-post-details {
        font-size: 15px;
    }
    .art-post-title {
        font-size: 18px;
    }
}

@media screen and (max-width: 620px) {
    .main-search .image {
        left: 85px;
    }
    .cont1 h1 {
        font-size: 40px;
    }
    .cont1 h4 {
        font-size: 14px;
    }
    .cont2 {
        width: 55%;
    }
    .cont2 img {
        width: 100%;
        max-width: 400px;
        height: 120px;
        padding-bottom: 3px;
    }
    .cont2 a,
    .cont2 p {
        font-size: 14px;
    }
    .cont2 h2 {
        font-size: 20px;
        padding: 5px 5px 5px 0;
    }
    .title {
        font-size: 20px;
    }
    .post-box {
        width: 200px;
    }
    .post-title {
        font-size: 15px;
    }
    .post-details {
        font-size: 14px;
        line-height: normal;
    }
    .art-post-title {
        font-size: 15px;
    }
    .art-post-details {
        font-size: 14px;
    }
    .art-posts-container {
        gap: 10px;
        padding: 0 5px;
    }
    .art-post {
        gap: 10px;
        width: 100%;
        padding: 15px;
    }
    .art-post-image {
        width: 100px;
        height: auto;
        border-radius: 5px;
    }
}

@media screen and (max-width: 540px) {
    .main-search .image {
        left: 80px;
    }
}

@media screen and (max-width: 450px) {
    .main-search .image {
        left: 75px;
    }
    .cont1 h1 {
        font-size: 30px;
    }
    .post-box {
        width: 300px;
    }
    .art-post-image {
        display: none;
    }
}